<p><a href="@@ARTICLE_URL:guide@@">Election guide</a> · <a href="@@ARTICLE_URL:legislature-senate@@">Senate candidates</a> · <a href="@@ARTICLE_URL:voting-info@@">Voting information</a></p>
<p>Montanans elect 100 state representatives to two-year terms and 25 of 50 state senators to four-year terms in each even-year election. This year&#x27;s election is the second to be conducted using a new legislative district map drawn to account for population shifts recorded by the 2020 census. Each Senate district is composed of two House districts.</p>
<p><a href="https://projects.montanafreepress.org/election-guide-2026/#montana-legislature">Use the interactive address lookup to find your legislative districts</a></p>
<h2>HD 1: Western Montana — Eureka, Troy</h2>
<ul><li><a href="https://bianco4mt2026.com">MICHELLE BIANCO</a> — Republican</li>
<li><a href="https://adamsforlegislature.com">DAKOTA V ADAMS</a> — Democratic</li></ul>
<h2>HD 2: Western Montana — Libby</h2>
<ul><li><a href="https://millett4montana.com">TOM MILLETT</a> — Republican (incumbent)</li>
<li>JANE MAAHS — Democratic</li></ul>
<h2>HD 3: Flathead Valley — North Whitefish, West Glacier</h2>
<ul><li><a href="https://www.peacheyformontana.com">DEREK PEACHEY</a> — Republican</li>
<li><a href="https://www.powersforthepeople.us">DEBO POWERS</a> — Democratic (incumbent)</li></ul>
<h2>HD 4: Flathead Valley — Southeast Whitefish, Columbia Falls</h2>
<ul><li><a href="https://pandinaformontana.com">SHAUN PANDINA</a> — Republican</li>
<li><a href="https://kochbestformontanahd4.org">PAULA KOCH</a> — Democratic</li></ul>
<h2>HD 5: Flathead Valley — Hungry Horse</h2>
<ul><li>BRAXTON MITCHELL — Republican (incumbent)</li>
<li><a href="https://lucaformontana.com">LUCA WELLE</a> — Democratic</li></ul>
<h2>HD 6: Flathead Valley — Northwest of Kalispell</h2>
<ul><li><a href="https://www.jimrileyforhd6.com">JIM RILEY</a> — Republican</li>
<li><a href="https://www.fix4hd6.com">DARREN FIX</a> — Democratic</li></ul>
<h2>HD 7: Flathead Valley — Central Kalispell</h2>
<ul><li><a href="https://courtenaysprunger.com">COURTENAY SPRUNGER</a> — Republican (incumbent)</li>
<li><a href="https://madisonformontana.com">MADISON EVANS</a> — Democratic</li></ul>
<h2>HD 8: Flathead Valley — Northeast Kalispell</h2>
<ul><li><a href="https://lukasschubertmt.com">LUKAS SCHUBERT</a> — Republican (incumbent)</li>
<li>CALVIN LIME — Democratic</li></ul>
<h2>HD 9: Flathead Valley — South of Kalispell</h2>
<ul><li><a href="https://www.kellyforhd9.com">STEVEN C KELLY</a> — Republican (incumbent)</li>
<li><a href="https://mclaughlinformontana.com/">KATE MCLAUGHLIN</a> — Democratic</li></ul>
<h2>HD 10: Flathead Valley — West Kalispell</h2>
<ul><li>TERRY FALK — Republican (incumbent)</li>
<li><a href="https://www.catherineallenformontana.com">CATHERINE C ALLEN</a> — Democratic</li></ul>
<h2>HD 11: Flathead Valley — East of Kalispell</h2>
<ul><li>ED BYRNE — Republican (incumbent)</li>
<li>MAEVE KINTZLER — Democratic</li></ul>
<h2>HD 12: Flathead Valley — Bigfork, Flathead Lake</h2>
<ul><li><a href="https://tracysharpmt12.com/">TRACY A SHARP</a> — Republican (incumbent)</li>
<li>CINDY L BRUCKNER — Democratic</li></ul>
<h2>HD 13: Western Montana — Polson</h2>
<ul><li><a href="https://finleyformontana.com">FINLEY WARDEN</a> — Republican</li>
<li>DALTON BRADFORD — Democratic</li></ul>
<h2>HD 14: Western Montana — Noxon, Trout Creek, Thompson Falls, Plains</h2>
<ul><li>PAUL FIELDER — Republican (incumbent)</li>
<li>COLLEEN HINDS — Democratic</li></ul>
<h2>HD 15: Western Montana — South Browning, Heart Butte, St. Ignatius</h2>
<ul><li>RALPH FOSTER — Republican</li>
<li>THEDIS B CROWE — Democratic (incumbent)</li></ul>
<h2>HD 16: Western Montana — North Browning, East Glacier, Cut Bank</h2>
<ul><li>LONA R RUNNING WOLF — Democratic</li></ul>
<h2>HD 17: North-central Montana — Choteau, Fairfield, Wolf Creek, North Helena Valley</h2>
<ul><li>JUSTIN W CLEVELAND — Republican</li>
<li>CHRIS BECHTOLD — Democratic</li></ul>
<h2>HD 18: North-central Montana — Conrad, Valier, Shelby, Dutton</h2>
<ul><li>BRUCE &quot;BUTCH&quot; GILLESPIE — Republican</li></ul>
<h2>HD 19: Great Falls area — Downtown Great Falls</h2>
<ul><li>HANNAH TREBAS — Republican</li>
<li><a href="https://weberforhd19.com">JANE WEBER</a> — Democratic (incumbent)</li></ul>
<h2>HD 20: Great Falls area — East-central Great Falls</h2>
<ul><li><a href="https://www.melissaforus.com">MELISSA NIKOLAKAKOS</a> — Republican (incumbent)</li>
<li>STEVE KELLER — Democratic</li></ul>
<h2>HD 21: Great Falls area — Northwest Great Falls, Black Eagle</h2>
<ul><li><a href="https://funsethformontana.com">TREVOR P FUNSETH</a> — Republican</li>
<li><a href="https://lelagraham.com">LELA GRAHAM</a> — Democratic</li></ul>
<h2>HD 22: Great Falls area — East Great Falls, Malmstrom Air Force Base</h2>
<ul><li>JASON LORANG — Republican</li>
<li>NEAL MILLER — Democratic</li>
<li>DAVE VON ESCHEN — Libertarian</li></ul>
<h2>HD 23: Great Falls area — South Great Falls</h2>
<ul><li><a href="https://www.tillemanforhd23.com/">ERIC TILLEMAN</a> — Republican (incumbent)</li>
<li>REBECCA BOGDEN-RICHARDS — Democratic</li></ul>
<h2>HD 24: Great Falls area — West Great Falls</h2>
<ul><li><a href="https://fitzpatrickformt.com">STEVE FITZPATRICK</a> — Republican (incumbent)</li>
<li><a href="https://pamelacarroll.com">PAM CARROLL</a> — Democratic</li></ul>
<h2>HD 25: North-central Montana — Cascade, Ulm, Vaughn</h2>
<ul><li><a href="https://stevegistformontana.com">STEVE GIST</a> — Republican (incumbent)</li>
<li>JERRY FERDERER — Democratic</li></ul>
<h2>HD 26: North-central Montana — Fort Benton, Big Sandy, Geraldine</h2>
<ul><li>RUSSEL MINER — Republican (incumbent)</li>
<li>PAUL JEFFERSON — Democratic</li></ul>
<h2>HD 27: North-central Montana — Havre</h2>
<ul><li><a href="https://paultuss.com">PAUL TUSS</a> — Democratic (incumbent)</li>
<li>JORDAN OPHUS — Libertarian</li></ul>
<h2>HD 28: North-central Montana — Chester, Chinook, Malta, Opheim</h2>
<ul><li>CHISHOLM B CHRISTENSEN — Republican</li></ul>
<h2>HD 29: Eastern Montana — Glasgow, Nashua, Scobey, Plentywood </h2>
<ul><li>VALERIE MOORE — Republican (incumbent)</li>
<li>TESS FAHLGREN — Democratic</li></ul>
<h2>HD 30: Eastern Montana — Culbertson, Sidney</h2>
<ul><li>MORGAN THIEL — Republican (incumbent)</li>
<li>JASON BOESHORE — Democratic</li></ul>
<h2>HD 31: Eastern Montana — Lodge Pole, Fort Peck, Wolf Point, Poplar, Brockton</h2>
<ul><li><a href="https://www.natalie4montana.com">NATALIE ONEAL</a> — Democratic</li></ul>
<h2>HD 32: Eastern Montana — Rocky Boy&#039;s, Harlem, Fort Belknap</h2>
<ul><li>MIKE FOX — Democratic (incumbent)</li></ul>
<h2>HD 33: Eastern Montana — Glendive, Richey</h2>
<ul><li>BRANDON LER — Republican (incumbent)</li>
<li>TRISTAN VEVERKA — Democratic</li></ul>
<h2>HD 34: Eastern Montana — Circle, Terry, Wibaux, Baker, Ekalaka, Broadus</h2>
<ul><li>JERRY SCHILLINGER — Republican (incumbent)</li>
<li>JASMINE ERICKSON — Democratic</li></ul>
<h2>HD 35: Eastern Montana — Forsyth, Colstrip, Worden, Jordan</h2>
<ul><li>GARY PARRY — Republican (incumbent)</li>
<li>NATALIE PARKER — Democratic</li></ul>
<h2>HD 36: Eastern Montana — Miles City</h2>
<ul><li>TY LINGER — Republican</li>
<li>BENJAMIN KEYES — Democratic</li></ul>
<h2>HD 37: Central Montana — Lewistown, Grass Range, Winnett, Winifred</h2>
<ul><li><a href="https://shaneklakken.com">SHANE KLAKKEN</a> — Republican (incumbent)</li>
<li><a href="https://www.yourvoicehd37.com">TRACEY MILLER KARCHER</a> — Democratic</li></ul>
<h2>HD 38: Central Montana — Roundup, Ryegate, Lavina, Huntley</h2>
<ul><li><a href="https://gregoblander4montana.com">GREG OBLANDER</a> — Republican (incumbent)</li></ul>
<h2>HD 39: Billings area — East Billings Heights</h2>
<ul><li><a href="https://kerriseekinscrowe.com">KERRI SEEKINS CROWE</a> — Republican (incumbent)</li>
<li><a href="https://smithformontana.com">MELISSA SMITH</a> — Democratic</li></ul>
<h2>HD 40: Billings area — Lockwood</h2>
<ul><li><a href="https://vintonformontana.com">MIKE VINTON</a> — Republican (incumbent)</li>
<li>GABRIEL  BRADSHAW — Democratic</li></ul>
<h2>HD 41: Billings area — Hardin, Busby, Lame Deer, Ashland</h2>
<ul><li>JADE SOOKTIS — Democratic (incumbent)</li></ul>
<h2>HD 42: Billings area — Crow Agency, Lodge Grass, Wyola, Pryor</h2>
<ul><li><a href="https://jabsformt.com">JEREMIAH JABS</a> — Republican</li></ul>
<h2>HD 43: Billings area — Central Billings Heights</h2>
<ul><li>LARRY BREWSTER — Republican (incumbent)</li>
<li>RUDOLF HADEN — Democratic</li></ul>
<h2>HD 44: Billings area — North Billings Heights, Shepherd</h2>
<ul><li><a href="https://katiezolnikov.com">KATIE ZOLNIKOV</a> — Republican (incumbent)</li>
<li>MIKE EATON — Democratic</li></ul>
<h2>HD 45: Billings area — North-Central Billings</h2>
<ul><li>BRYCE WALSTON — Republican</li>
<li><a href="https://baumformontana.com/">DENISE BAUM</a> — Democratic (incumbent)</li></ul>
<h2>HD 46: Billings area — Central Billings</h2>
<ul><li><a href="https://kimformontana.org">KIM WELZENBACH</a> — Republican</li>
<li>DENISE JOY — Democratic (incumbent)</li></ul>
<h2>HD 47: Billings area — Downtown and South Billings</h2>
<ul><li><a href="https://www.maxwellforhouse.com/">JOHN MAXWELL</a> — Republican</li>
<li><a href="https://www.reavisformontana.com/">JAMES REAVIS</a> — Democratic (incumbent)</li></ul>
<h2>HD 48: Billings area — South-central Billings</h2>
<ul><li>CURTIS SCHOMER — Republican (incumbent)</li>
<li>TUCKER COLVIN — Democratic</li></ul>
<h2>HD 49: Billings area — Southwest Billings</h2>
<ul><li><a href="https://loveridgeformontana.com">CHARLIE LOVERIDGE</a> — Republican</li>
<li>REBECCA NOELL — Democratic</li></ul>
<h2>HD 50: Billings area — West Billings</h2>
<ul><li>STEWART HARRIS — Republican</li>
<li>MARK PETERS — Democratic</li></ul>
<h2>HD 51: Billings area — Northwest Billings</h2>
<ul><li><a href="https://jodeeformt.com">JODEE ETCHART</a> — Republican (incumbent)</li>
<li>PRECIOUS MCKENZIE — Democratic</li></ul>
<h2>HD 52: Billings area — Northwest Billings</h2>
<ul><li>STACY ZINN — Republican (incumbent)</li>
<li>ELIZABETH HEALD — Democratic</li></ul>
<h2>HD 53: Billings area — West of Billings</h2>
<ul><li>TROY CHARBONNEAU — Republican</li>
<li>MATTHEW J HANKINS — Democratic</li></ul>
<h2>HD 54: Billings area — Laurel, South of Billings</h2>
<ul><li><a href="https://leeformontana.org">LEE DEMING</a> — Republican (incumbent)</li>
<li>JANINE COOLE — Democratic</li></ul>
<h2>HD 55: South-central Montana — Red Lodge, Bridger, Joliet</h2>
<ul><li><a href="https://bradbarker.com">BRAD BARKER</a> — Republican (incumbent)</li>
<li><a href="https://richard-gessling-4-montana.com/">RICHARD GESSLING</a> — Democratic</li></ul>
<h2>HD 56: South-central Montana — Columbus, Reed Point, Park City</h2>
<ul><li>FIONA B NAVE — Republican (incumbent)</li></ul>
<h2>HD 57: Bozeman area — Gardiner, Cooke City, Clyde Park, east downtown Bozeman</h2>
<ul><li><a href="https://electcrankmt.com">BOB CRANK</a> — Republican</li>
<li>JORDAN VIEGUT — Democratic</li></ul>
<h2>HD 58: Bozeman area — Livingston</h2>
<ul><li>JOSHUA CONGLETON — Republican</li>
<li><a href="https://jamieisaly.com">JAMIE L ISALY</a> — Democratic (incumbent)</li></ul>
<h2>HD 59: Bozeman area — Southeast Bozeman</h2>
<ul><li><a href="https://www.marc4hd59.com">MARC GREENDORFER</a> — Republican</li>
<li>KATIE FIRE THUNDER — Democratic (incumbent)</li></ul>
<h2>HD 60: Bozeman area — Big Sky, Gallatin Gateway, West Yellowstone</h2>
<ul><li><a href="https://leman4mt.org">GREG LEMAN</a> — Republican</li>
<li><a href="https://griffithformt.com">ALANAH GRIFFITH</a> — Democratic (incumbent)</li></ul>
<h2>HD 61: Bozeman area — Montana State University campus and surroundings</h2>
<ul><li>ERIC JACOBS — Republican</li>
<li><a href="https://www.rioformt.com">RIO ROLAND</a> — Democratic</li></ul>
<h2>HD 62: Bozeman area — Southwest Bozeman, Huffine Lane, South Four Corners</h2>
<ul><li><a href="https://estherformontana.com">ESTHER FISHBAUGH</a> — Republican</li>
<li><a href="https://seck4mt.com">JOSHUA A SECKINGER</a> — Democratic (incumbent)</li></ul>
<h2>HD 63: Bozeman area — West Bozeman, Four Corners</h2>
<ul><li>LAWRENCE R MOORE — Republican</li>
<li><a href="https://repstrand.com">PETER STRAND</a> — Democratic (incumbent)</li></ul>
<h2>HD 64: Bozeman area — Northwest Bozeman</h2>
<ul><li><a href="https://martinezforthepeople.com">DANIEL RICARDO MARTINEZ</a> — Republican</li>
<li>BRADY BREMER — Democratic</li></ul>
<h2>HD 65: Bozeman area — Central Bozeman and northern outskirts</h2>
<ul><li>JOE FLYNN — Republican</li>
<li><a href="https://brianclose4montana.net/">BRIAN CLOSE</a> — Democratic (incumbent)</li></ul>
<h2>HD 66: Bozeman area — Central Bozeman, north Gallatin County</h2>
<ul><li>OWEN LANG — Republican</li>
<li><a href="https://matthewsformt.com">ERIC MATTHEWS</a> — Democratic (incumbent)</li></ul>
<h2>HD 67: Bozeman area — Belgrade</h2>
<ul><li><a href="https://jedediahhinkle.com">JEDEDIAH HINKLE</a> — Republican (incumbent)</li>
<li>LOGAN HENKE — Democratic</li></ul>
<h2>HD 68: Bozeman area — Amsterdam-Churchill, West Belgrade</h2>
<ul><li><a href="https://randy4mt.com">RANDY CHAMBERLIN</a> — Republican</li>
<li>JOCELYN KENT — Democratic</li></ul>
<h2>HD 69: Southwest Montana — Ennis, Virginia City, Twin Bridges, Three Forks</h2>
<ul><li><a href="https://trevorwalterformontana.com/">TREVOR WALTER</a> — Republican</li></ul>
<h2>HD 70: Southwest Montana — Dillon, Lima, Rocker</h2>
<ul><li><a href="https://www.manessformontana.com">SHANNON MANESS</a> — Republican (incumbent)</li>
<li>KOBI CRADDOCK — Democratic</li></ul>
<h2>HD 71: Butte/Anaconda — Anaconda, Warm Springs</h2>
<ul><li><a href="https://nordwick.com">SUZZANN NORDWICK</a> — Republican</li>
<li>SCOTT DEMAROIS — Democratic (incumbent)</li></ul>
<h2>HD 72: Butte/Anaconda — West Butte</h2>
<ul><li>MICHAEL SAUL — Republican</li>
<li>DONAVON HAWK — Democratic (incumbent)</li></ul>
<h2>HD 73: Butte/Anaconda — Central Butte</h2>
<ul><li>GERRY KENNEDY — Republican</li>
<li>JENNIFER LYNCH — Democratic (incumbent)</li></ul>
<h2>HD 74: Butte/Anaconda — East Butte</h2>
<ul><li>TRENIN BAYLESS — Republican</li>
<li>MARC J LEE — Democratic (incumbent)</li></ul>
<h2>HD 75: Southwest Montana — Boulder, Whitehall, Clancy, Montana City</h2>
<ul><li>MARK REINSCHMIDT — Republican</li>
<li>PATRICK SULLIVAN — Democratic</li>
<li>GREG DEVRIES — Libertarian</li></ul>
<h2>HD 76: Southwest Montana — Deer Lodge, Philipsburg, Drummond, Seeley Lake</h2>
<ul><li><a href="https://trishformontana.com">TRISH SCHREIBER</a> — Republican</li></ul>
<h2>HD 77: Central Montana — Townsend, Wheatland, Manhattan, Winston</h2>
<ul><li><a href="https://drjanegillette.com">JANE GILLETTE</a> — Republican (incumbent)</li>
<li>DEBORAH ANNE HANSEN — Democratic</li></ul>
<h2>HD 78: Central Montana — White Sulphur Springs, Stanford, Belt, Harlowton, Big Timber</h2>
<ul><li><a href="https://randynformontana.com">RANDYN GREGG</a> — Republican (incumbent)</li>
<li>MARK WHITE — Democratic</li></ul>
<h2>HD 79: Helena area — Southwest Helena, West Helena Valley</h2>
<ul><li>CHIKO OLSON — Republican</li>
<li><a href="https://www.lukeformontana.org">LUKE MUSZKIEWICZ</a> — Democratic (incumbent)</li></ul>
<h2>HD 80: Helena area — Northwest Helena</h2>
<ul><li><a href="https://katie4montana.com">KATIE FRUITS</a> — Republican</li>
<li><a href="https://www.megan4montana.com">MEGAN LANE</a> — Democratic</li></ul>
<h2>HD 81: Helena area — Central Helena, Central Helena Valley</h2>
<ul><li><a href="https://looneyformontana.com">JOHN J LOONEY SR</a> — Republican</li>
<li><a href="https://janetellis4mt.com/">JANET ELLIS</a> — Democratic</li></ul>
<h2>HD 82: Helena area — Capitol area, Southeast Helena Valley</h2>
<ul><li>CLINTON MCKAY — Republican</li>
<li><a href="https://peteformontana.com">PETE ELVERUM</a> — Democratic (incumbent)</li></ul>
<h2>HD 83: Helena area — East Helena, Southwest Helena</h2>
<ul><li>AARON J LEAS — Republican</li>
<li>JOE COHENOUR — Democratic</li></ul>
<h2>HD 84: Helena area — East and north of Helena</h2>
<ul><li><a href="https://www.caldwellforhd84.com">ROY CALDWELL</a> — Republican</li>
<li>TIA NELSON — Democratic</li></ul>
<h2>HD 85: Bitterroot Valley — Darby, South Bitterroot Valley</h2>
<ul><li><a href="https://kimdailey.com">KIM DAILEY</a> — Republican</li>
<li>LAURA JACKSON — Democratic</li></ul>
<h2>HD 86: Bitterroot Valley — Hamilton</h2>
<ul><li><a href="https://waynerusk.com">WAYNE RUSK</a> — Republican</li>
<li>ARCHIE THOMAS — Democratic</li></ul>
<h2>HD 87: Bitterroot Valley — Victor, Central Bitterroot Valley</h2>
<ul><li>TERRY NELSON — Republican (incumbent)</li>
<li>BILL JONES — Democratic</li></ul>
<h2>HD 88: Bitterroot Valley — Stevensville, Florence, North Bitterroot Valley</h2>
<ul><li><a href="https://www.gregoverstreet.com">GREG OVERSTREET</a> — Republican (incumbent)</li>
<li>EVAN SCHROEDEL — Democratic</li></ul>
<h2>HD 89: Missoula area — Lolo</h2>
<ul><li><a href="https://www.lynformontana.com">LYN HELLEGAARD</a> — Republican</li>
<li><a href="https://thaneformontana.com">MARK A THANE</a> — Democratic (incumbent)</li></ul>
<h2>HD 90: Missoula area — Frenchtown, Alberton, Superior, St. Regis, Paradise</h2>
<ul><li>JEFF STANEK — Republican</li></ul>
<h2>HD 91: Missoula area — Ronan, Arlee, Missoula&#039;s Upper Rattlesnake </h2>
<ul><li>CHARLES HEADLEY — Republican</li>
<li><a href="https://shellyformontana.com">SHELLY FYANT</a> — Democratic (incumbent)</li></ul>
<h2>HD 92: Missoula area — East Missoula, Bonner, Clearwater</h2>
<ul><li><a href="https://www.monicatranel.com">MONICA TRANEL</a> — Democratic</li></ul>
<h2>HD 93: Missoula area — Southeast Missoula, Clinton</h2>
<ul><li>ROY HANDLEY — Republican</li>
<li><a href="https://www.davisformontana.com/">BEN DAVIS</a> — Democratic</li></ul>
<h2>HD 94: Missoula area — South Missoula</h2>
<ul><li>GREG WOODWARD — Republican</li>
<li><a href="https://www.robinkendall4montana.org/">ROBIN KENDALL</a> — Democratic</li></ul>
<h2>HD 95: Missoula area — Central Missoula, University of Montana campus</h2>
<ul><li>ZOOEY ZEPHYR — Democratic (incumbent)</li></ul>
<h2>HD 96: Missoula area — South-central Missoula, west of Missoula</h2>
<ul><li><a href="https://cartermt.us">BOB CARTER</a> — Democratic (incumbent)</li></ul>
<h2>HD 97: Missoula area — West Missoula</h2>
<ul><li>MICHAEL P HAGESTAD — Republican</li>
<li><a href="https://melodyformontana.org/">MELODY J CUNNINGHAM</a> — Democratic (incumbent)</li></ul>
<h2>HD 98: Missoula area — Northwest Missoula</h2>
<ul><li>BRYAN MUZZANA — Republican</li>
<li><a href="https://jonathankarlen.net">JONATHAN KARLEN</a> — Democratic (incumbent)</li></ul>
<h2>HD 99: Missoula area — North Missoula</h2>
<ul><li>RYAN DARLING — Republican</li>
<li><a href="https://tomfranceformontana.com">TOM FRANCE</a> — Democratic (incumbent)</li></ul>
<h2>HD 100: Missoula area — Downtown Missoula</h2>
<ul><li><a href="https://michaeldanielbowles.carrd.co">MICHAEL DANIEL BOWLES</a> — Republican</li>
<li>SJ HOWELL — Democratic (incumbent)</li>
<li>JC WINDMUELLER — Libertarian</li></ul>
<p><a href="@@ARTICLE_URL:guide@@">Return to the election guide</a></p>
